*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
::selection{
	background-color: rgb(44, 192, 143);
	color: rgb(255, 208, 0);
}
header{
	background-image: url('../assets/images/banner-bk.jpg');
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}
button{
	cursor: pointer;
	transition: .5s;
}
h1{
	font-weight: bold;
}
.p-head{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 75%;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 100px;
}
#headerLogo{
	height: 10vh;
}
#div-h1{
	display: flex;
	flex-direction: column;
	margin: 15px 100px;
	font-size: 30px;
}
#p-header{
	width: 650px;
	display: flex;
	flex-direction: column;
	margin: 0 100px;
	font-size: 13px;
	padding: 20px 0;
}
#btn-header{
	padding: 10px 50px ;
	margin: 0 100px;
	background-color: rgb(0, 255, 174);
	width: 50px;
	border: none;
	border-radius: 100px;
	display: flex;
	justify-content: center;
}

/* Section 1 */
.seccion1{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 100px;
}
.icons-all_1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#smrt{
	font-size: 40px;
}
#img-s2{
	background-color: transparent;
}
#picon{
	width: 400px;
}

/* Section 2 */
.seccion2{
	display: flex;
	flex-direction: column;
	background: url('../assets/images/fndo-s2.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px ;
	
}
.all-2_1, .all-2_2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#h1-s2{
	font-size: 40px;
}
#p-s2{
	width: 600px;
	padding: 20px 0;
	font-size: 15px;
}
#btn-s2{
	border: none;
	outline: none;
	border-radius: 500px;
	padding: 10px 30px;
	background-color: rgb(25, 36, 64);
	color: whitesmoke;
	cursor: pointer;
	transition: .7s;
}
#btn-s2:hover{
	background-color:rgba(30, 46, 87, 0.719) ;
}

/* Section 3 */
.seccion3{
	padding:100px 0 ;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#check{
	font-size: 40px;
}
.paquete{
	display: flex;
	flex-direction: row;
}
#check{
	padding-bottom: 70px;
}
#price, #price-two{
	width: 350px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	border-radius: 5px;
}

#price-two{
	background-color: rgb(25, 36, 64);
	color: whitesmoke;
}
#varios{
	display: flex;
}
.precio{
	font-weight: bold;
}
.big{
	font-size: 50px;
}
#caracteris{
	padding: 20px 0;
}
#p-pack{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}
#btn-price, #btn-price_two{
	border-radius: 500px;
	padding: 10px 20px;
} 
#btn-price{
	background-color: transparent;
	
}
#btn-price_two{
	background-color: rgb(0, 255, 174);
	border: none;
	outline: none;
}

/* Seccion 4 */
.seccion4{
	background-color: rgb(236, 238, 239);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100px;
}

/* Seccion 5 */
.seccion5{
	background: url('../assets/images/contact-bk.jpg');
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.elmnts{
	color: whitesmoke;
	width: 350px;
}
#h1-s5{
	padding-bottom: 15px;
	font-size: 30px;
}
#p-s5{
	padding-bottom: 15px;
	font-size: 15px;
}
.elmnts_2{
	display: flex;
	flex-direction: column;
}
#elmnts_2-1{
	display: flex;
	flex-direction: row;
}
#name, #email{
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	color: rgb(0, 255, 174);
}
#email{
	padding-left: 20px;
}
#txt-area{
	color: rgb(0, 255, 174);
}
#your-name, #your-email{
	height: 30px;
	width: 250px;
}
#txt_area_1{
	width: 520px;
}
#your-name, #your-email, #txt_area_1{
	background-color: transparent;
	border: solid 1px rgb(0, 255, 174);
	border-radius: 5px;
	color: rgb(0, 255, 174);
	margin: 10px 0;
}

/* Footer */
footer{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 30px 20px;
	background-color:rgb(25, 36, 64);
	color: rgba(245, 245, 245, 0.829);
}
i{
	padding: 0 5px;
}

/* -------------------------------------- MEDIA QUERY -------------------------------------- */
@media screen and (max-width:1280px){
	#img-s2{
		width: 65vh;
	}
}
@media screen and (max-width:922px) {
	header{
		height: auto;
		padding-bottom: 50px;
	}
	#picon{
		width: auto;
	}
	.all-2_1{
		padding-bottom: 20px;
	}
	#p-s2{
		width: auto;
	}
	#h1-s2{
		font-size: 25px;
	}
	#btn-s2{
		padding: 8px 15px;
	}
	#img-s2{
		width: auto;
	}
	#price, #price-two{
		width: 40vh;
	}
	footer{
		height: 10px;
	}
}

@media screen and (max-width:770px){
	header{
		height: auto;
		padding-bottom: 50px;
	}
	h1{
		font-size: 30px;
	}
	#price, #price-two{
		width: 242px;
	}
	#img-s2{
		width: 50vh;
	}
	#your-name, #your-email{
		width: 200px;
	}
	.elmnts, .elmnts_2{
		padding: 0 5px;
	}
	#p-pack{
		font-size: 12px;
	}
	.big{
		font-size: 25px;
	}
	#txt_area_1{
		width: 420px;
	}
	#p-s5{
		width: auto;
	}
	#contact{
		padding: 5px 0;
		width: 250px;
	}
	.client{
		width: 100px;
	}
	footer{
		height: 10px;
		font-size: 12px;
	}
}
@media screen and (max-width: 481px){
	header{
		height: auto;
		padding-bottom: 50px;
		display: flex;
	}
	h1{
		font-size: 20px;
	}
	p{
		font-size: 12px;
	}
	#logo{
		display: flex;
		justify-content: space-between;
		margin: 0 20px;
	}
	.p-head{
		display: flex;
		justify-content: center;
		height: 75%;
	}
	#p-header{
		width: auto;
		
	}
	#headerLogo, #div-h1, #p-header, #btn-header{
		margin: 0 20px;
	}
	button{
		font-size: 10px;
	}
	#div-h1{
		font-size: 20px;
	}
	.icons-all_1{
		display: flex;
		flex-direction: column;
	}
	#icns{
		width: 15vh;
	}
	.paquete{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#price, #price-two{
		height: auto;
		width: 250px;
		padding: 20px 0;
	}
	#p-pack{
		padding: 2px;
	}
	#h1-s2, h2, .big, #h1-s5{
		font-size: 20px;
	}
	.seccion2{
		width: auto;
		height: auto;
		padding-bottom: 20px;
	}
	#img-s2{
		width: 25vh;
	}
	#p-s2{
		font-size: 12px;
	}
	.seccion5{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.client{
		width: 70px;
	}
	#contact, #p-s5{
		font-size: 12px;
	}
	#your-name, #your-email{
		width: 150px;
	}
	#txt_area_1{
		width: 320px;
	}
	#your-name, #your-email, #txt_area_1{
		font-size: 10px;
		margin: 5px;
	}
}
@media screen and (max-width: 353px){
	header{
		height: auto;
		width: auto;
		padding-bottom: 50px;
		display: flex;
	}
	h1{
		font-size: 15px;
	}
	.seccion2{
		padding-bottom: 20px;
		width: auto;
		height: auto;
	}
	#img-s2{
		width: 25vh;
	}
	#h1-s2{
		font-size: 15px;
	}
	#p-s2{
		width: auto;
	}
	#check{
		font-size: 30px;
	}
	.client{
		width: 50px;
	}
}