*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background-image: url('../assets/images/banner-bk.jpg');
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}
h1{
	font-weight: bold;
}
.p-head{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 100px;
}
#headerLogo{
	height: 10vh;
}
#div-h1{
	display: flex;
	flex-direction: column;
	margin: 15px 100px;
	font-size: 30px;
}
#p-header{
	width: 650px;
	display: flex;
	flex-direction: column;
	margin: 0 100px;
	font-size: 13px;
	padding: 20px 0;
}
#btn-header{
	padding: 10px 50px ;
	margin: 0 100px;
	background-color: rgb(0, 255, 174);
	width: 50px;
	border: none;
	border-radius: 100px;
}

/* Section 1 */
.seccion1{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 100px;
}
.icons-all_1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#img-s2{
	background-color: transparent;
}
#picon{
	width: 400px;
}

/* Section 2 */
.seccion2{
	display: flex;
	flex-direction: column;
	background: url('../assets/images/fndo-s2.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.all-2_1, .all-2_2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#h1-s2{
	font-size: 40px;
}
#p-s2{
	width: 600px;
	padding: 20px 0;
	font-size: 15px;
}
#btn-s2{
	border: none;
	outline: none;
	border-radius: 500px;
	padding: 10px 30px;
	background-color: rgb(25, 36, 64);
	color: whitesmoke;
	cursor: pointer;
	transition: .7s;
}
#btn-s2:hover{
	background-color:rgba(30, 46, 87, 0.719) ;
}


/* Section 3 */


